<% if @diaries.present?%>
<table border="1">
  <tr>
    <th>買ったもの</th>
    <th>総額</th>
    <th>購入日</th>
  </tr>
  <% @diaries.each do |diary| %>
  <tr>
    <td>
      <%= link_to(diary.item, "/diaries/#{diary.id}") %>
    </td>
    <td>
      <%= diary.price*diary.item_number %>
    </td>
    <td>
      <%= diary.purchase_date.strftime('%Y年%m月%d日') %>
    </td>
  </tr>
  <% end %>
</table>

<%else%>
<%= "#{@purchase_date}には何も購入していません" %>
<% end %>
