<div class="main posts-index">
  <div class="container">
    <% if @diaries.present?%>
    <% @diaries.each do |diary| %>
    <div class="posts-index-item">
      <div class="post-right">
        <div class="post-project-name">
          <%= link_to(diary.item, "/diaries/#{diary.id}") %>
        </div>
      </div>
    </div>
    <% end %>
    <%else%>
    <% if @search_item.present?%>
    <%= "#{@search_item}は買ったことがありません"%>
    <%else%>
    入力してください
    <% end %>
    <% end %>
  </div>
</div>
